@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Raleway:wght@400;700&display=swap');
$montserrat: 'Montserrat', sans-serif;
$raleway: 'Raleway', sans-serif;
$blue-crayola: #3772ffff;
$cyclamen: #ef709dff;
$gold-yellow: rgb(214, 205, 81);
$electric-blue: #70e4efff;
$cosmic-latte: #fff4e4;
$mauve: #EDC9FF;
$mint-green: #a2ffa1;
$green: #4ec54c;
$dark-green: #015800;
$shadow: rgba(41, 41, 41, 0.5);
$purple: rgb(139, 28, 139);
$eggplant: rgb(73, 3, 73);
$turquiose: #00ffbf;
$no-color: rgba(0,0,0,0);

.about{
    margin-top: 40px;
    .features{
        display: flex;
        flex-direction: column;
        align-items: center;
        div{
            // border-radius: 15px;
            width: 60vw;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 25px;
            text-align: center;
            margin-bottom: 30px;
            color: $electric-blue;
            background: $blue-crayola;
            box-shadow: 15px 15px blue;
            &:nth-of-type(2){
                color: $mauve;
                background: $purple;
                box-shadow: 15px 15px $eggplant;
                hr{
                    border-color: $eggplant;
                }
            }
            &:nth-of-type(3){
                color: $mint-green;
                background: $green;
                box-shadow: 15px 15px $dark-green;
                hr{
                    border-color: $dark-green;
                }
            }
            svg{
                font-size: 80px;
                margin-bottom: 10px;
            }
            hr{
                border-color: blue;
                width: 100%;
            }
            h1{
                font-family: $raleway;
                font-size: 24px;
                padding: 5px;
            }
            p{
                font-family: $montserrat;
                margin: 0;
            }
        }
    }
    .line{
        height: 2px;
        width: 100%;
        background-image: linear-gradient( to left, $no-color, $electric-blue, $no-color);
        margin: 50px auto;
    }
    .me{
        // padding: 100px 0;
        .image{
            height: 200px;
            width: 200px;
            background-image: url('https://media-exp1.licdn.com/dms/image/C4E03AQFfRYndIY8i1w/profile-displayphoto-shrink_200_200/0/1607392072451?e=1617235200&v=beta&t=eqbAQ5F_69v724oM8hyOKDhzDryh85SP-VZM5e7sm3Y');
            background-position: center;
            background-repeat: none;
            background-size: cover;
            border-radius: 100px;
            margin: 0 auto;
            margin-bottom: 30px;
            z-index: 1;
            box-shadow: 10px 10px rgba(214, 205, 81, 0.75),
                        0px 10px  #a2ffa1b9,
                        -10px 10px  #30f52d75,
                        0px -10px #edc9ffb0,
                        10px -10px rgba(192, 41, 192, 0.75),
                        10px 0px rgba(255, 123, 0, 0.75),
                        -10px -10px rgba(112, 228, 239, 0.75),
                        -10px 0px  rgba(55, 115, 255, 0.75);
        }
        .words{
            margin-bottom: 50px;
            padding: 30px 0 30px 50px;
            background-image: linear-gradient(to right, $gold-yellow 50%, $no-color 50%);
            div{
               margin: 20px;
               background-color: $blue-crayola;
               padding: 20px;
               box-shadow: 10px 10px blue;
               color: $electric-blue;
                h1{
                    font-family: $raleway;
                }
                h3{
                    font-family: $raleway;
                }
                p{
                    font-family: $montserrat;
                }
            }
        }
    }
    .skills{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 30px;
        div{
            background-color: $green;
            margin: 5px;
            padding: 15px;
            width: 100px;
            height: 100px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            box-shadow: 5px 5px $dark-green;
            svg{
                color: $mint-green;
                font-size: 80px;
            }
            p{
                margin: 0;
                color: $mint-green;
                font-family: $montserrat;
            }
        }
    }
}


