div{
    .cursor{
        position: absolute;
        height: 70px;
        width: 70px;
        background-color: #a2ffa1;
        transition: 0.3s ease-out;
        animation: spin 3s linear infinite;
        border-radius: 10px;
        z-index: 1;
    }
    .cursor-shadow{
        position: absolute;
        height: 70px;
        width: 70px;
        background-color: rgba(41, 41, 41, 0.5);
        border-radius: 10px;
        transition: 0.3s ease-out;
        animation: spin 3s linear infinite;
        box-shadow: 0 0 5px rgba(41, 41, 41, 0.5);
        z-index: 1;
    }
}
@keyframes spin {
    0% {
        transform: rotate(0deg) ;
    }
    100%{
        transform: rotate(360deg) ;
        
    }
}