@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Raleway:wght@400;700&display=swap');
$montserrat: 'Montserrat', sans-serif;
$raleway: 'Raleway', sans-serif;
$blue-crayola: #3772ffff;
$fuchsia: #f038ffff;
$cyclamen: #ef709dff;
$gold-yellow: rgb(214, 205, 81);
$electric-blue: #70e4efff;
$cosmic-latte: #fff4e4;
$mauve: #EDC9FF;
$mint-green: #9bff99;
$shadow: rgba(41, 41, 41, 0.5);
$eggplant: rgb(73, 3, 73);
::-webkit-scrollbar{
    display: none;
}
.landing::-webkit-scrollbar {
    display: none;
}
  
  /* Hide scrollbar for IE, Edge and Firefox */
.landing {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.landing{
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $cyclamen;
    .sideblock{
        height: 70vh;
        width: 40%;
        background-color: $gold-yellow;
        position: absolute;
        box-shadow: -15px 15px goldenrod;
        animation: 1s ease-out 0s 1 slideInFromLeft;
    }
    .main-content{
        z-index: 2;
        margin: auto 0;
        height: 65vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        animation: 1s ease-out 0s 1 slideInFromLeft;
        .name-block{
            background-color: $blue-crayola;
            color: $electric-blue;
            font-family: $raleway;
            font-weight: bold;
            margin-left: 15%;
            padding: 20px 30px;
            padding-right: 0;
            margin-top: 10px;
            box-shadow: -15px 15px blue;
            h1{
                font-size: 30px;
                margin: 0;
                @media (min-width: 600px) {
                    font-size: 56px;
                }
                @media (min-width: 1024px) {
                    font-size: 80px;
                }
            }
            p{
                font-size: 18px;
                display: flex;
                margin: 0;
                @media (min-width: 600px) {
                    font-size: 36px;
                }
                @media (min-width: 1024px) {
                    font-size: 48px;
                }
            }
        }
        .arrows{
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            margin-right: 18%;
            margin-top: 20px;
            .icons{
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100px;
                @media (min-width: 600px) {
                    width: 150px;
                }
                @media (min-width: 1024px) {
                    width: 200px;
                }
                svg{
                    font-size: 60px;
                    color: $electric-blue;
                    margin: 5px;
                    &:first-of-type{
                        animation: color-shift 3s ease-in-out  infinite alternate
                    }
                    &:nth-of-type(2){
                        animation: color-shift 3s ease-in-out 1s infinite alternate
                    }
                    &:last-of-type{
                        animation: color-shift 3s ease-in-out 2s infinite alternate
                    }
                    @media (min-width: 1024px) {
                        font-size: 80px;
                    }
                }  
            }
            a{
                font-family: $raleway;
                font-weight: bold;
                font-size: 18px;
                background-color: $mauve;
                color: $blue-crayola;
                text-align: center;
                width: 100px;
                padding: 10px 0;
                box-shadow: -10px 10px $eggplant;
                @media (min-width: 600px) {
                    font-size: 24px;
                    width: 150px;
                }
                @media (min-width: 1024px) {
                    font-size: 36px;
                    width: 200px;
                }
            }
        }
    }
    .spinner-container{
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: 1;
        transition: translate 0.4s ease;
        animation: 1s ease-out 0s 1 slideInFromBottom;
        .spinner-slide{
            position: relative;
            &:first-of-type{
                position: absolute;
                right: 10%;
                top: 5%;
                animation: slide 10s 4s infinite;
            }
            &:nth-of-type(2){
                position: absolute;
                left: 6%;
                top: 52%;
                animation: slide-2 8s 1s infinite;
                .spinner{
                    animation: spin 3s linear infinite reverse;
                }
                .spinner-shadow{
                    animation: spin 3s linear infinite reverse;
                }
            }
            &:last-of-type{
                position: absolute;
                bottom: 5%;
                right: 25%;
                animation: slide 8s 7s infinite;
            }
            .spinner{
                position: absolute;
                margin: 0;
                height: 90px;
                width: 90px;
                background-color: $mint-green;
                border-radius: 20px;
                right: -20px;
                top: -20px;
                animation: spin 3s linear infinite;
                @media (min-width: 600px) {
                    height: 100px;
                    width: 100px;
                }
                @media (min-width: 1024px) {
                    height: 200px;
                    width: 200px;
                }
            }
            .spinner-shadow{
                height: 80px;
                width: 80px;
                background-color: $shadow;
                border-radius: 20px;
                box-shadow: 0 0 5px 4px $shadow;
                animation: spin 3s linear infinite;
                @media (min-width: 600px) {
                    height: 100px;
                    width: 100px;
                }
                @media (min-width: 1024px) {
                    height: 200px;
                    width: 200px;
                }
            }
        }
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg) ;
    }
    100%{
        transform: rotate(360deg) ;
        
    }
}

@keyframes slide {
    0%{
        transform: translateX(0px)
    }
    15%, 90%{
        transform: translateX(-50vw)
        
    }
    100%{
        transform: translateX(0px)
    }
    
    
}
@keyframes slide-2 {
    0%{
        transform: translateY(0px)
    }
    50%{
        transform: translateY(-30vw)
        
    }
    100%{
        transform: translateY(0px)
    }
}

@keyframes color-shift {
    0% {
        color: $electric-blue;
        transform: rotate(360deg);
    }
    33%{
        color: $cosmic-latte;
        
    }
}

@keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
}

@keyframes slideInFromBottom {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0);
    }
}