@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Raleway:wght@400;700&display=swap');
$montserrat: 'Montserrat', sans-serif;
$raleway: 'Raleway', sans-serif;
$blue-crayola: #3772ffff;
$cyclamen: #ef709dff;
$gold-yellow: rgb(214, 205, 81);
$electric-blue: #70e4efff;
$cosmic-latte: #fff4e4;
$mauve: #EDC9FF;
$mint-green: #a2ffa1;
$green: #4ec54c;
$dark-green: #015800;
$shadow: rgba(41, 41, 41, 0.5);
$purple: rgb(139, 28, 139);
$eggplant: rgb(73, 3, 73);
$turquiose: #00ffbf;
$no-color: rgba(0,0,0,0);

.portfolio{
    .project{
        background-image: linear-gradient( to right, $gold-yellow 50%, $no-color 50%);
        padding: 30px 10px;
        margin: 30px 0;
        img{
            display: block;
            width: 90%;
            margin: 0 auto;
            box-shadow: 10px 10px $shadow;
        }
        div{
            width: 80%;
            margin: 0 auto;
            padding: 20px 10px;
            
            h1{
                text-align: center;
                background-color: $blue-crayola;
                box-shadow: 5px 5px blue;
                color: $electric-blue;
                padding: 5px;
                font-size: 28px;
                margin-right: 20px;
            }
            p{
                text-align: right;
                margin-left: 20px;
                background-color: $blue-crayola;
                box-shadow: 5px 5px blue;
                color: $electric-blue;
                padding: 15px;
            }
        }
    }
}