.profile{
    background-color: pink;
    height: 100vh;
    width: 100vw;
    margin: 0;
    animation: 1s ease-out 0s 1 slideInFromLeft;
    h1{
        margin: 0;
    }
}

@keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
}