@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Raleway:wght@400;700&display=swap');
$montserrat: 'Montserrat', sans-serif;
$raleway: 'Raleway', sans-serif;
$blue-crayola: #3772ffff;
$fuchsia: #f038ffff;
$cyclamen: #ef709dff;
$gold-yellow: rgb(214, 205, 81);
$electric-blue: #70e4efff;
$cosmic-latte: #fff4e4;
$mauve: #EDC9FF;
$mint-green: #9bff99;

::-webkit-scrollbar {
    display: none;
}

.App{
    background-color: $cyclamen;
    overflow-x: hidden;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none; 
    height: 100%;
}


.cursor {
    width: 40px;
    height: 40px;
    border: 2px solid #fefefe;
    border-radius: 100%;
    position: fixed;
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 9999;
    mix-blend-mode: difference;
}

html, body {
  // cursor: none;
  background-color: $cyclamen;
  
}
.exit{
    animation: exit-down 1500ms ease;
}

.entry{
    animation: slide-in-from-left 500ms linear ;
}

@keyframes exit-down{
    0%{
        transform: translateY(0px);
        opacity: 1;
        transition: opacity 1s ease;
    }
    100%{
        transform: translateY(100%);
        opacity: 0;
    }
}

@keyframes slide-in-from-left {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
}